body {
    font-family:Tahoma;
    background-color:burlywood;
    padding-top:20px;
}

footer {
    font-weight: bolder;
    background-color: #333;
    color: #ddd;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-family: Tahoma;
    /*bottom: 0;
    position:fixed;*/
}   
h3{
    color:brown;
    text-align:center;
    }